body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
html {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.card {
    box-shadow: 0 4px 8px 0 rgba(10, 19, 145, 0.2);
    margin: 13px;
    color:rgba(148, 0, 0, 0.792)
}

.container {
    padding: 0 16px;
}
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}